html { width: 990px; padding-left: 5px; padding-right: 5px; margin-left: auto; margin-right: auto; font-family: Arial,Helvetica,sans-serif; font-size: 13px;}

body { background-color: white; overflow-y:scroll; width: 980px; margin-left: auto; margin-right: auto; }

th { background-color: #F5F5F5 ; vertical-align: top; padding: 0px; margin: 0px; text-align: left;}

table, tr, td, th { border: 7px solid #F5F5F5 ; border-spacing: 0; margin: 0px; }

td { width: 800px; height: 300px; vertical-align: top;}

img{ width: 100%; height: 100%}

.img { max-height: 280px; min-height: 280px;}

.diagram { width: 1000px; height: 250px; }

.info, .infovalue { width: 100%; height: 20px; margin: none; vertical-align: none; font-family: Arial; position: relative;  }

.infovalue { background-color:#F5F5F5; }

.info { font-family: "Times New Roman", "Times New Roman", serif; font-style: italic;
         text-transform: uppercase;  font-weight: 400;
         color: #0a0a0a ; text-decoration: none; } 

.infocolumn { max-height: 200px; height: 100px; }

.choose { width: 300px; height: 30px; font-size: 20px; text-align: center;}

.center { width: 250px; height: 20px; text-align: center;  }

.center2 { width: 100%; height: 30px; text-align: center; }

.center3 { width: 70%; height: 30px; text-align: center; float: left; }

input, select { width: 100%; height: 100%; padding: 0px; margin: 0px; }

.buttons { width: 120px; font-size: 26px !important; font-family: "Times New Roman", "Times New Roman", serif; font-style: italic;
         text-transform: uppercase; padding: 0.5em;  font-weight: 400; letter-spacing: -2.6px; margin-bottom: 5px;
         color: #0a0a0a ; text-decoration: none; }

.buttons:hover { color: #b20e10 ; }

#map { height: 100%; width: 100%; }

.search { width: 100%; height: 100%; padding: 0px; text-align: center; float: right; }

.field, .value, .edit { border: 3px; }

.field, .value { height: 30px; border-bottom: 1px solid black; }

.field2, .value2 { height: 30px; border: none; }

.field, .field2 { width: 100px; border-right: 1px solid black; }

.value, .value2 { width: 300px; color: #b20e10 ; }

.edit { float: right; margin: none; width: 20px; height: 20px; }

p { font-size: 15px; padding: 0px; margin: 0px;}

a:link { color: black; }

a:visited { color: black; }

a:hover {
    color: #b20e10;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {  
    border-color: #b20e10;
    box-shadow: 0 1px 1px #b20e10 inset, 0 0 8px #b20e10;
    outline: 0 none;
}




@import url(https://fonts.googleapis.com/css?family=Roboto);


.first, .middle, .last { font-family: "Times New Roman", "Times New Roman", serif; font-style: italic;
         text-transform: uppercase;  font-weight: 400;
         color: #0a0a0a ; text-decoration: none; }

.wrapper{
  width: 100%;
  border-radius: 20px;
}

ul{
  list-style: none;
  margin: 0;
  padding: 2px;
}

label{
  display: block;
  cursor: pointer;
  
  border-bottom: none;
  color: white;
}

label:hover{
  color: white;
  background-color: #b20e10 ;
}

label.last{
  
}

ul ul li{
  padding: 0px;
  background: #F5F5F5;
}


input[type="checkbox"]{
  position: absolute;
  left: -9999px;
}

input[type="checkbox"] ~ ul{
  height: 0;
  transform: scaleY(0);
}

input[type="checkbox"]:checked ~ ul{
  height: 100%;
  transform-origin: top;
  transition: transform .2s ease-out;
  transform: scaleY(1); 
}

input[type="checkbox"]:checked + label{
  background: #b20e10 ;
  
}

